absl-py==2.4.0
diffrax==0.7.2
equinox==0.13.5
jax==0.9.1
jax-cuda13-pjrt==0.9.1
jax-cuda13-plugin==0.9.1
jaxlib==0.9.1
jaxtyping==0.3.9
lineax==0.1.0
ml_dtypes==0.5.4
numpy==2.4.2
nvidia-cublas==13.2.1.1
nvidia-cuda-cccl==13.1.115
nvidia-cuda-crt==13.1.115
nvidia-cuda-cupti==13.1.115
nvidia-cuda-nvcc==13.1.115
nvidia-cuda-nvrtc==13.1.115
nvidia-cuda-runtime==13.1.80
nvidia-cudnn-cu13==9.19.1.2
nvidia-cufft==12.1.0.78
nvidia-cusolver==12.0.9.81
nvidia-cusparse==12.7.3.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.1.115
nvidia-nvshmem-cu13==3.5.21
nvidia-nvvm==13.1.115
opt_einsum==3.4.0
optax==0.2.7
optimistix==0.1.0
scipy==1.17.1
setuptools==82.0.0
typing_extensions==4.15.0
wadler_lindig==0.1.7
sympy==1.14.0
pathspec==1.0.4
julia==0.6.2
juliacall==0.9.26
librt==0.8.1
pysr==1.5.9
snowballstemmer==3.0.1
sympy2jax==0.0.8
matplotlib==3.10.6
matplotlib-inline==0.2.1
mypy==1.20.0
pydocstyle==6.3.0
darglint==1.8.1
pylint
black
